.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  width: 100%;
  height: 35rem;
  background-color: #ffff;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.1);
}

.first_div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.container {
  width: 35em;
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  padding: 0 10%;
  flex-direction: column;
}

.header_firts h1 {
  font-size: 4.5rem;
  color: #333333;
}

.header_firts span {
  display: flex;
  gap: 0.5rem;
  font-size: 4.5rem;
  font-weight: 550;
  color: #333333;
}

.about {
  text-align: flex-start;
  color: #696868;
  font-weight: 500;
}

.second_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #ffff;
}

.img {
  width: 29rem;
  height: 29rem;
  border-radius: 50rem;
  object-fit: cover;
  transition: filter 0.3s;
}
